<!-- Navbar Section -->
<nav  class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container container-s">
    <a class="titleFont" [routerLink]="['/public/home']">Documenter.</a>
<app-lang-switcher></app-lang-switcher>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/public/about']"> {{"public.header.about.id"| translate}}</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/public/contact']"> {{"public.header.contact.id"| translate}}</a></li>
         <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/public/home']" fragment="features"> {{"public.header.features.id"| translate}}</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/public/guide']"> {{"public.header.guide.id"| translate}}</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/public/home']" fragment="home">{{"public.header.home.id"| translate}}</a></li>
        <li class="nav-item"><a class="btn-cta nav-link js-scroll-trigger"[routerLink]="['/public/login']">{{'public.header.signin' | translate}}</a></li>
      </ul>
    </div>
  </div>
</nav><!-- Navbar End -->
