<div>
  <div class="container-m text-center">
    <H1 align="center" class="text-primary ">{{'user.sidebar.profile'| translate}}</H1>
    <div class="home hero-2"><!-- Hero Section-->


      <form class="example-form" [formGroup]="form" *ngIf="mode=='subscribe'">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label >{{"user.profile.email" |translate}}</mat-label>
              <input matInput formControlName="username" readonly="readonly" >
              <mat-error>
                {{"user.profile.errors.newPasswordError" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"user.profile.name" |translate}}</mat-label>
              <input matInput formControlName="name">
              <mat-error>
                {{"user.profile.errors.newPasswordError" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>{{"user.profile.categories" |translate}}</mat-label>
              <select matNativeControl formControlName="category">
                <option *ngFor="let category of loadedCategries" selected
                        [value]=category.id>{{category.categoryName}}</option>
              </select>
              <mat-error>
                {{"user.profile.errors.categoryError" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"user.profile.description" |translate}}</mat-label>
              <textarea matInput placeholder="We provide..." formControlName="description"></textarea>
              <mat-error>
                {{"user.profile.errors.descriptionError" |translate}}

              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-select-country appearance="outline"
                                label="Country"
                                [value]="defaultValue"
                                formControlName="contry">
            </mat-select-country>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"user.profile.city" |translate}}</mat-label>
              <input matInput placeholder="Ex. Paris" formControlName="city">
              <mat-error>
                {{"user.profile.errors.cityError" |translate}}

              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"user.profile.postalCode" |translate}}</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105 " formControlName="postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              <mat-error>
                {{"user.profile.errors.postalCodeError" |translate}}

              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{"user.profile.adresse" |translate}}</mat-label>
              <textarea matInput placeholder="Ex. 100 Main St" formControlName="adress"></textarea>
              <mat-error>
                {{"user.profile.errors.adressError" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <button class="btn btn-primary" (click)="onUpdate()" [disabled]="isLoading">{{"user.profile.buttons.update" |translate}}!</button>
        <mat-error *ngIf=errorMessage>
          {{errorMessage}}
        </mat-error>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      </form>
    </div>

  </div>


</div><!-- Hero End -->
