<h2 mat-dialog-title> {{"public.resetPassword.title" | translate}}</h2>
<form class="example-form" [formGroup]="form">
  <mat-dialog-content class="mat-typography">


    <div class="row">
      <div class="col-md-6 offset-sm-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"public.resetPassword.email" | translate}}</mat-label>
          <input matInput formControlName="username">
          <mat-error>
            {{"public.resetPassword.errors.emailError" | translate}}
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div *ngIf="isLoading">
        <h4>   {{"public.resetPassword.messages.sendindResetEmail" | translate}}</h4>
        <mat-progress-bar mode="indeterminate"*></mat-progress-bar>
      </div>
    </div>

    <mat-error *ngIf=errorMessage>
      {{errorMessage | translate}}
    </mat-error>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial mat-dialog-close [disabled]="isLoading">{{"public.resetPassword.buttons.cancel" | translate}}</button>
    <button mat-button   (click)="onResetPassword() " [disabled]="isLoading">{{"public.resetPassword.buttons.resetPassword" | translate}}</button>
  </mat-dialog-actions>
</form>


