<!-- Array Footer Section -->
<div class="footer-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="footer-logo" href="http://www.letapp.net">LetApp.</a>
      </div>
      <div class="col-md-4">
        <h6>&copy; Documenter 2021 Rights Reserved</h6>
       <p> <a class="btn btn-link text-secondary " (click)="onShowTerms()">{{"public.footer.terms_and_conditions" | translate}}</a></p>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Scroll To Top -->

<!-- Scroll To Top Ends-->
