<div id="main" class="main">
  <H1 align="center" class="text-primary ">{{'user.sidebar.password'| translate}}</H1>
  <div class="container-m text-center" >
    <div class="home hero-2"><!-- Hero Section-->
      <form class="example-form" [formGroup]="form" *ngIf="mode=='edit'">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <mat-form-field class="full-width-input example-full-width">
              <input matInput [type]="hideCur ? 'password' : 'text'" formControlName="currentPassword" placeholder="{{'user.password.currentPassword' | translate}}">
              <button mat-icon-button matSuffix (click)="hideCur = !hideCur" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCur">
                <mat-icon>{{hideCur ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>
                {{'user.password.errors.currentPasswordError' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3">
            <mat-form-field class="full-width-input example-full-width">
              <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password" placeholder="{{'user.password.newPassword' | translate}}">
              <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>
                {{'user.password.errors.currentPasswordError' | translate}}

              </mat-error>
            </mat-form-field>
          </div>
          </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <mat-form-field class="full-width-input example-full-width">
              <input matInput [type]="hideRe ? 'password' : 'text'" formControlName="repassword" placeholder="{{'user.password.rePassword' | translate}}">
              <button mat-icon-button matSuffix (click)="hideRe = !hideRe" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRe">
                <mat-icon>{{hideRe ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>
                {{"user.profile.errors.rePasswordError" |translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
        </div>

        <button class="btn btn-primary" (click)="onEditPassword()" [disabled]="isLoading">{{"user.profile.buttons.edit" |translate}}</button>
        <mat-error *ngIf=errorMessage>
          {{errorMessage}}
        </mat-error>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      </form>
      <div *ngIf="mode=='success'">
        <div class="row">
          <div class="col">
            <H2 class="text-info">
              {{"user.profile.messages.confirmation" |translate}}

              </H2>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
